@model Model.Major_change_Model
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>register</title>
    <script src="~/js/jquery-1.11.1.js"></script>
    <link href="~/CSS/table.css" rel="stylesheet" />
    <link href="~/javascript/calendar/calendar-win2k-cold-1.css" rel="stylesheet" />
    <script src="~/javascript/calendar/cal.js"></script>
    <script src="~/javascript/comm/comm.js"></script>
    <script src="~/javascript/comm/list.js"></script>
    <script src="~/javascript/comm/time.js"></script>
    <script src="~/javascript/calendar-ch.js"></script>
    <link href="~/CSS/cwcalendar.css" rel="stylesheet" />
    <script src="~/JS/vue.js"></script>
</head>
<body>
    
    @using (Html.BeginForm("register", "DDSQ", FormMethod.Post))
    {
    <div id="div1">
        <table width="100%">
            <tr>
                <td>
                    <font color="#0000CC">您正在做的业务是:人力资源--调动管理--调动登记</font>
                </td>
            </tr>

            <tr>
                <td align="right">
                    <input type="submit" value="提交" class="BUTTON_STYLE1">
                    <input type="button" class="BUTTON_STYLE1"
                           onclick="javascript:window.history.back();" value="返回">
                </td>
            </tr>
        </table>
        <table width="100%" border="1" cellpadding=0 cellspacing=1
               bordercolorlight=#848284 bordercolordark=#eeeeee
               class="TABLE_STYLE1">
            <tr height="21">
                <td class="TD_STYLE1" width="8%">
                    档案编号
                </td>
                <td class="TD_STYLE2" width="10%">
                    <input type="text" asp-for="@Model.Human_id"
                           readonly="readonly" class="INPUT_STYLE2">
                </td>
                <td class="TD_STYLE1" width="8%">
                    姓名
                </td>
                <td class="TD_STYLE2" width="10%">
                    <input type="text" asp-for="@Model.Human_name"
                           readonly="readonly" class="INPUT_STYLE2">
                </td>
                <td class="TD_STYLE1" width="8%"></td>
                <td class="TD_STYLE2" width="10%"></td>
                <td class="TD_STYLE1" width="8%"></td>
                <td class="TD_STYLE2" width="10%"></td>
            </tr>
            <tr>

                <td class="TD_STYLE1" width="8%">
                    原一级机构
                </td>
                <td class="TD_STYLE2">
                    <input type="hidden" asp-for="@Model.First_kind_id">
                    <input type="text" asp-for="@Model.First_kind_name"
                           readonly="readonly" class="INPUT_STYLE2">
                </td>
                <td class="TD_STYLE1" width="8%">
                    原二级机构
                </td>
                <td class="TD_STYLE2" width="10%">
                    <input type="hidden" asp-for="@Model.Second_kind_id">
                    <input type="text" asp-for="@Model.Second_kind_name"
                           readonly="readonly" class="INPUT_STYLE2">
                </td>
                <td class="TD_STYLE1" width="8%">
                    原三级机构
                </td>
                <td class="TD_STYLE2" width="10%">
                    <input type="hidden" asp-for="@Model.Third_kind_id">
                    <input type="text" asp-for="@Model.Third_kind_name"
                           readonly="readonly" class="INPUT_STYLE2">
                </td>
                <td class="TD_STYLE1" width="8%"></td>
                <td class="TD_STYLE2" width="10%"></td>
            </tr>

            <tr>
                <td class="TD_STYLE1">
                    原职位分类
                </td>
                <td class="TD_STYLE2">
                    <input type="hidden" asp-for="@Model.Major_kind_id">
                    <input type="text" asp-for="@Model.Major_kind_name"
                           readonly="readonly" class="INPUT_STYLE2">
                </td>
                <td class="TD_STYLE1" width="12%">
                    原职位名称
                </td>
                <td class="TD_STYLE2">
                    <input type="hidden" asp-for="@Model.Major_id">
                    <input type="text" asp-for="@Model.Major_name"
                           readonly="readonly" class="INPUT_STYLE2">
                </td>
                <td class="TD_STYLE1">
                    原薪酬标准
                </td>
                <td class="TD_STYLE2">
                    <input type="hidden" asp-for="@Model.Salary_standard_id">
                    <input type="text" asp-for="@Model.Salary_standard_name"
                           readonly="readonly" class="INPUT_STYLE2">
                </td>
                <td class="TD_STYLE1">
                    原薪酬总额
                </td>
                <td class="TD_STYLE2">
                    <input type="text" asp-for="@Model.Salary_sum"
                           readonly="readonly" class="INPUT_STYLE2">
                </td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    新一级机构名称
                </td>
                <td class="TD_STYLE2">
                    <select v-on:change="load2()" name="emajorRelease.firstKindId" id="Did" class="SELECT_STYLE1">
                        <option value="">--请选择--</option>
                        <option v-for="(item,index) in dt" id="ss" :value="item.First_kind_name">{{item.First_kind_name}}</option>
                    </select>
                </td>
                <td class="TD_STYLE1" width="12%">
                    新二级机构名称
                </td>
                <td class="TD_STYLE2">
                    <select name="emajorRelease.secondKindId" id="id2" class="SELECT_STYLE1" v-on:change="load3()">
                        <option value="">--请选择--</option>
                        <option v-for="(item,index) in dt2" :value="item.Second_kind_name">{{item.Second_kind_name}}</option>
                    </select>
                </td>
                <td class="TD_STYLE1" width="12%">
                    新三级机构名称
                </td>
                <td class="TD_STYLE2">
                    <select name="emajorRelease.thirdKindId" id="id3" class="SELECT_STYLE1">
                        <option value="">--请选择--</option>
                        <option v-for="(item,index) in dt3" :value="item.Third_kind_name">{{item.Third_kind_name}}</option>
                    </select>
                </td>
                <td class="TD_STYLE1" width="8%"></td>
                <td class="TD_STYLE2" width="10%"></td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    新职位分类
                </td>
                <td class="TD_STYLE2">
                    <select v-on:change="load4()" name="emajorRelease.Major_kindId" id="Did1" class="SELECT_STYLE1">
                        <option value="">--请选择--</option>
                        <option v-for="(item,index) in dt4" id="ss" :value="item.Major_kind_name">{{item.Major_kind_name}}</option>
                    </select>
                </td>
                <td class="TD_STYLE1" width="12%">
                    新职位名称
                </td>
                <td class="TD_STYLE2">
                    <select  name="emajorRelease.Major_Id"  class="SELECT_STYLE1">
                        <option value="">--请选择--</option>
                        <option v-for="(item,index) in dt5" id="ss" :value="item.Major_name">{{item.Major_name}}</option>
                    </select>
                </td>
                <td class="TD_STYLE1">
                    新薪酬标准
                </td>
                <td class="TD_STYLE2">
                    <select v-on:change="load5()" name="emajorRelease.standardId" id="Did2" class="SELECT_STYLE1">
                        <option value="">--请选择--</option>
                        <option v-for="(item,index) in dt6" id="ss" :value="item.Standard_name">{{item.Standard_name}}</option>
                    </select>
                </td>
                <td class="TD_STYLE1">
                    新薪酬总额
                </td>
                <td class="TD_STYLE2">
                    <input type="text" name="newsum" id="newsum" readonly="readonly"
                           value="0.0" class="INPUT_STYLE2">
                </td>
            </tr>

            <tr>
                <td class="TD_STYLE1">
                    登记人
                </td>
                <td class="TD_STYLE2">
                    <input type="text" value="@ViewBag.user" readonly="readonly" class="INPUT_STYLE2">
                </td>
                <td class="TD_STYLE1">
                    登记时间
                </td>
                <td class="TD_STYLE2">
                    <input type="text" asp-for="@Model.Regist_time" readonly="readonly" name="majorChange.registTime" class="INPUT_STYLE2">
                </td>
                <td class="TD_STYLE1"></td>
                <td class="TD_STYLE2"></td>
                <td class="TD_STYLE1"></td>
                <td class="TD_STYLE2"></td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    调动原因
                </td>
                <td colspan="7" class="TD_STYLE2">
                    <input type="text" asp-for="@Model.Change_reason" class="INPUT_STYLE2">
                </td>
            </tr>
        </table>
    </div>
    }
    <script type="text/javascript">
        var vm = new Vue({
            el: "#div1",
            data: {
                dt: [],
                dt2: [],
                dt3: [],
                dt4: [],
                dt5: [],
                dt6: [],
                id: "",
                id2: "",
                id4: "",
                id5: "",
                jiner:"0",
                m: "",
            },
            methods: {
                load: function () {
                    var t = this;
                    //alert("1");
                    $.ajax({
                        url: "/DDSQ/first1",
                        type: "post",
                        success: function (msg) {
                            var d = eval("(" + msg + ")");
                            t.dt = d;

                        }
                    });
                },
                CMK: function () {
                    var t = this;
                    //alert("1");
                    $.ajax({
                        url: "/DDSQ/CMK",
                        type: "post",
                        success: function (msg) {
                            var d = eval("(" + msg + ")");
                            t.dt4 = d;

                        }
                    });
                },
                 SS: function () {
                    var t = this;
                    //alert("1");
                    $.ajax({
                        url: "/DDSQ/SS",
                        type: "post",
                        success: function (msg) {
                            var d = eval("(" + msg + ")");
                            t.dt6 = d;

                        }
                    });
                },
                 load5: function () {
                    var t = this;
                    //alert($("#Did").val());
                    $.ajax({
                        data: "id=" + $("#Did2").val(),
                        url: "/DDSQ/SS1",
                        type: "post",
                        success: function (msg) {
                            var arry = eval("(" + msg + ")");
                            $("#newsum").val(arry);
                        }
                    })
                },
                 load4: function () {
                    var t = this;
                    //alert($("#Did").val());
                    $.ajax({
                        data: "id=" + $("#Did1").val(),
                        url: "/DDSQ/CM",
                        type: "post",
                        success: function (msg) {
                            var arry = eval("(" + msg + ")");
                            t.dt5 = arry;
                        }
                    })
                },
                load2: function () {
                    var t = this;
                    //alert($("#Did").val());
                    $.ajax({
                        data: "id=" + $("#Did").val(),
                        url: "/DDSQ/Selfirst1",
                        type: "post",
                        success: function (msg) {
                            var arry = eval("(" + msg + ")");
                            t.dt2 = arry;
                        }
                    })
                },
                load3: function () {
                    var t = this;
                    //alert($("#id2").val());
                    $.ajax({
                        data: "id=" + $("#id2").val()+"&id2="+$("#Did").val(),
                        url: "/DDSQ/ThiSecond1",
                        type: "post",
                        success: function (msg) {
                            var arry = eval("(" + msg + ")");
                            t.dt3 = arry;
                        }
                    })
                },
            },
            mounted: function () {
                this.load();
                this.CMK();
                this.SS();
            }
        });
    </script>
    <SCRIPT type="text/javascript">
        function time() {
            var tdate = document.getElementById("Tdate");
            var d = new Date();
            var y = d.getFullYear();
            var moth = d.getMonth() + 1;
            var date = d.getDate();
            var h = d.getHours();
            var m = d.getMinutes();
            var s = d.getSeconds();
            var hh = 20 - 1 - h;
            var mm = 60 - 1 - m;
            var ss = 60 - s;
            if (hh > 0) {
                mm = mm + 60 * hh;
            }
            if (moth < 10) {
                moth = "0" + moth;
            }
            if (date < 10) {
                date = "0" + date;
            }
            if (h < 10) {
                h = "0" + h;
            }
            if (m < 10) {
                m = "0" + m;
            }
            if (s < 10) {
                s = "0" + s;
            }
            if (mm < 10) {
                mm = "0" + mm;
            }
            if (ss < 10) {
                ss = "0" + ss;
            }  }
            function load() {
                document.getElementById("firstKindId").value = '1353318953319';
                document.getElementById("newMajorKindId").value = '02';
                document.getElementById("secondKindId").value = '0';
                document.getElementById("thirdKindId").value = '0';
                document.getElementById("newMajorId").value = '01';
                document.getElementById("newSalaryStandardId").value = '1353320082662';
                time();
            }
            window.onload = time;
            var out = window.setInterval(time, 1000);
            function A(a) {
                var ss = $(a).val();
                if (ss == "") {
                    $("#newsum").val("0.00");
                } else {
                    $.ajax({
                        url: "/DDSQ/NSum",
                        data: "money=" + ss,
                        type: "post",
                        success: function (msg) {
                            var arr = eval(msg);
                            for (var i = 0; i < arr.length; i++) {
                                var aa = arr[i]["salary_sum"];
                                $("#newsum").val(aa);
                            }
                        }
                    })
                }
        }
         </SCRIPT>
</body >
</html >
