@model ViewTable

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>interview_sift</title>
    <link href="~/CSS/table.css" rel="stylesheet" />
    <link href="~/CSS/cwcalendar.css" rel="stylesheet" />
    <script src="~/JS/jquery-1.11.1.js"></script>
    <script src="~/JS/vue.js"></script>
    <script src="~/javascript/select.js"></script>
    <script src="~/javascript/locate.js"></script>
    <script src="~/javascript/easyui/comm/list.js"></script>
    <script src="~/javascript/easyui/comm/comm.js"></script>
    <script src="~/javascript/jquery-1.7.2.js"></script>
    <script type="text/javascript">
        function time() {
            var tdate = document.getElementById("check_time");
            var d = new Date();
            var y = d.getFullYear();
            var moth = d.getMonth() + 1;
            var date = d.getDate();
            var h = d.getHours();
            var m = d.getMinutes();
            var s = d.getSeconds();
            var hh = 20 - 1 - h;
            var mm = 60 - 1 - m;
            var ss = 60 - s;
            if (hh > 0) {
                mm = mm + 60 * hh;
            }
            if (moth < 10) {
                moth = "0" + moth;
            }
            if (date < 10) {
                date = "0" + date;
            }
            if (h < 10) {
                h = "0" + h;
            }
            if (m < 10) {
                m = "0" + m;
            }
            if (s < 10) {
                s = "0" + s;
            }
            if (mm < 10) {
                mm = "0" + mm;
            }
            if (ss < 10) {
                ss = "0" + ss;
            }

            tdate.value = y + "-" + moth + "-" + date + " " + h + ":" + m + ":" + s;

        }
        window.onload = time;
        var out = window.setInterval(time, 1000);



        function mians() {
            document.getElementById("check_comment").innerHTML = "建议面试";
        }
        function bis() {
            document.getElementById("check_comment").innerHTML = "建议笔试";
        }
        function luy() {
            document.getElementById("check_comment").innerHTML = "建议录用";
        }
        function del() {
            document.getElementById("check_comment").innerHTML = "删除简历";
        }
    </script>
</head>
<body>
    <div id="div1">
        <form method="post" asp-action="interview_sift">

            <table width="100%">
                <tr>
                    <td>
                        <font color="black">您正在做的业务是：人力资源--招聘管理--面试管理--面试筛选  </font>
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        <input type="radio" name="ei.result" value="建议面试" onclick="mians()">建议面试
                        <input type="radio" name="ei.result" value="建议笔试" onclick="bis()">建议笔试
                        <input type="radio" name="ei.result" value="建议录用" checked="checked" onclick="luy()">建议录用
                        <input type="radio" name="ei.result" value="删除简历" onclick="del()">删除简历
                        <input type="submit" value="确认" class="BUTTON_STYLE1"
                               onclick="search('542')">
                        <input type="button" value="返回" class="BUTTON_STYLE1"
                               onclick="history.back();">

                    </td>
                </tr>
            </table>
            <table width="100%" border="1" cellpadding=0 cellspacing=1
                   bordercolorlight=#848284 bordercolordark=#eeeeee
                   class="TABLE_STYLE1">
                @foreach (var item in Model.engage_Resumes)
                {


                    <tr>
                        <td class="TD_STYLE1" width="11%">
                            职位分类
                        </td>
                        <td width="14%" class="TD_STYLE2">
                            @*<input type="hidden" asp-for="@item.Res_id" />*@
                            <input type="hidden" asp-for="@item.Human_major_kind_id" />
                            <input type="text"
                                   asp-for="@item.Human_major_kind_name" readonly="readonly" class="INPUT_STYLE2">

                        </td>
                        <td width="11%" class="TD_STYLE1">
                            职位名称
                        </td>
                        <td width="14%" class="TD_STYLE2">
                            <input type="hidden" asp-for="@item.Human_major_id" />
                            <input type="text" asp-for="@item.Human_major_name" readonly="readonly" class="INPUT_STYLE2">
                        </td>
                        <td width="11%" class="TD_STYLE1">
                            招聘类型
                        </td>
                        <td class="TD_STYLE2">
                            <input type="text" asp-for="@item.Engage_type" readonly="readonly" class="INPUT_STYLE2">

                        </td>

                        <td width="10%" rowspan="6" colspan="2" align="center">
                        </td>

                    </tr>
                    <tr>
                        <td class="TD_STYLE1">
                            姓名
                        </td>
                        <td class="TD_STYLE2">
                            <input type="text" asp-for="@item.Human_name" readonly="readonly" class="INPUT_STYLE2">

                        </td>
                        <td class="TD_STYLE1">
                            性别
                        </td>
                        <td class="TD_STYLE2">
                            <input type="text" asp-for="@item.Human_sex" readonly="readonly" class="INPUT_STYLE2">
                        </td>
                        <td class="TD_STYLE1">
                            EMAIL
                        </td>
                        <td class="TD_STYLE2">
                            <input type="text" asp-for="@item.Human_email" readonly="readonly" class="INPUT_STYLE2">
                        </td>
                    </tr>

                    <tr>
                        <td class="TD_STYLE1">
                            电话号码
                        </td>
                        <td class="TD_STYLE2">
                            <input type="text" asp-for="@item.Human_telephone" readonly="readonly" class="INPUT_STYLE2">
                        </td>
                        <td class="TD_STYLE1">
                            家庭电话
                        </td>
                        <td class="TD_STYLE2">
                            <input type="text" asp-for="@item.Human_homephone" readonly="readonly" class="INPUT_STYLE2">
                        </td>
                        <td class="TD_STYLE1">
                            手机
                        </td>
                        <td class="TD_STYLE2">
                            <input type="text" asp-for="@item.Human_mobilephone" readonly="readonly" class="INPUT_STYLE2">
                        </td>

                    </tr>
                    <tr>
                        <td class="TD_STYLE1">
                            住址
                        </td>
                        <td colspan="3" class="TD_STYLE2">
                            <input type="text" asp-for="@item.Human_address" readonly="readonly" class="INPUT_STYLE2">
                        </td>
                        <td class="TD_STYLE1">
                            邮编
                        </td>
                        <td class="TD_STYLE2">
                            <input type="text" asp-for="@item.Human_postcode" readonly="readonly" class="INPUT_STYLE2">
                        </td>
                    </tr>

                    <tr>
                        <td class="TD_STYLE1">
                            国籍
                        </td>
                        <td class="TD_STYLE2">
                            <input type="text" asp-for="@item.Human_nationality" readonly="readonly" class="INPUT_STYLE2">
                        </td>
                        <td class="TD_STYLE1">
                            出生地
                        </td>
                        <td class="TD_STYLE2">
                            <input type="text" asp-for="@item.Human_birthplace" readonly="readonly" class="INPUT_STYLE2">
                        </td>
                        <td class="TD_STYLE1">
                            生日
                        </td>
                        <td class="TD_STYLE2">
                            <input type="text" asp-for="@item.Human_birthday" readonly="readonly" class="INPUT_STYLE2">
                        </td>
                    </tr>

                    <tr>
                        <td width="11%" class="TD_STYLE1">
                            民族
                        </td>
                        <td class="TD_STYLE2" width="14%">
                            <input type="text" asp-for="@item.Human_race" readonly="readonly" class="INPUT_STYLE2">
                        </td>
                        <td class="TD_STYLE1">
                            宗教信仰
                        </td>
                        <td class="TD_STYLE2">
                            <input type="text" asp-for="@item.Human_religion" readonly="readonly" class="INPUT_STYLE2">
                        </td>
                        <td class="TD_STYLE1">
                            政治面貌
                        </td>
                        <td class="TD_STYLE2">
                            <input type="text" asp-for="@item.Human_party" readonly="readonly" class="INPUT_STYLE2">
                        </td>
                    </tr>
                    <tr>

                        <td class="TD_STYLE1">
                            身份证号码
                        </td>
                        <td class="TD_STYLE2">
                            <input type="text" asp-for="@item.Human_idcard" readonly="readonly" class="INPUT_STYLE2">
                        </td>
                        <td class="TD_STYLE1">
                            年龄
                        </td>
                        <td class="TD_STYLE2">
                            <input type="text" asp-for="@item.Human_age" readonly="readonly" class="INPUT_STYLE2">
                        </td>
                        <td class="TD_STYLE1">
                            毕业学校
                        </td>
                        <td class="TD_STYLE2">
                            <input type="text" asp-for="@item.Human_college" readonly="readonly" class="INPUT_STYLE2">
                        </td>
                        <td class="TD_STYLE1" width="10%">
                            学历
                        </td>
                        <td class="TD_STYLE2">
                            <input type="text" asp-for="@item.Human_educated_degree" readonly="readonly" class="INPUT_STYLE2">
                        </td>
                    </tr>
                    <tr>
                        <td class="TD_STYLE1">
                            教育年限
                        </td>
                        <td class="TD_STYLE2">
                            <input type="text" asp-for="@item.Human_educated_years" readonly="readonly" class="INPUT_STYLE2">
                        </td>
                        <td class="TD_STYLE1">
                            学历专业
                        </td>
                        <td class="TD_STYLE2">
                            <input type="text" asp-for="@item.Human_educated_major" readonly="readonly" class="INPUT_STYLE2">
                        </td>
                        <td class="TD_STYLE1">
                            薪酬要求
                        </td>
                        <td class="TD_STYLE2">
                            <input type="text" asp-for="@item.Demand_salary_standard" readonly="readonly" class="INPUT_STYLE2">
                        </td>
                        <td class="TD_STYLE1">
                            注册时间
                        </td>
                        <td class="TD_STYLE2">
                            <input type="text" asp-for="@item.Regist_time" readonly="readonly" class="INPUT_STYLE2">

                        </td>
                    </tr>
                    <tr>
                        <td class="TD_STYLE1">
                            特长
                        </td>
                        <td class="TD_STYLE2">
                            <input type="text" asp-for="@item.Human_specility" readonly="readonly" class="INPUT_STYLE2">
                        </td>
                        <td class="TD_STYLE1">
                            爱好
                        </td>
                        <td class="TD_STYLE2">
                            <input type="text" asp-for="@item.Human_hobby" readonly="readonly" class="INPUT_STYLE2">
                        </td>
                        <td class="TD_STYLE1">
                            <span style="font-size: 10.5pt; font-family: 宋体;"></span>
                            推荐人
                        </td>
                        <td class="TD_STYLE2">
                            <input type="text" asp-for="@item.Pass_checker" readonly="readonly" class="INPUT_STYLE2">
                        </td>
                        <td class="TD_STYLE1">
                            <span style="font-size: 10.5pt; font-family: 宋体;"></span>
                            推荐时间
                        </td>
                        <td class="TD_STYLE2">
                            <input type="text" asp-for="@item.Pass_check_time" readonly="readonly" class="INPUT_STYLE2">
                        </td>
                    </tr>
                    @*<tr>
                <td class="TD_STYLE1">
                    档案附件
                </td>
                <td colspan="7" class="TD_STYLE2">
                    <input type="text" asp-for="@item.Attachment_name" readonly="readonly" class="INPUT_STYLE2">
                </td>
            </tr>*@
                    <tr>
                        <td class="TD_STYLE1">
                            个人履历
                        </td>
                        <td colspan="7" class="TD_STYLE2">
                            <textarea asp-for="@item.Human_history_records" rows="4"
                                      class="TEXTAREA_STYLE1" readonly="readonly">
						</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td class="TD_STYLE1">
                            备注
                        </td>
                        <td colspan="7" class="TD_STYLE2">
                            <textarea asp-for="@item.Remark" rows="4" class="TEXTAREA_STYLE1" readonly="readonly"> 
						</textarea>
                        </td>
                    </tr>

                    <tr>
                        <td class="TD_STYLE1">
                            筛选推荐意见
                        </td>
                        <td class="TD_STYLE2" colspan="7">
                            <textarea asp-for="@item.Recomandation" rows="4" class="TEXTAREA_STYLE1" readonly="readonly"></textarea>
                        </td>
                    </tr>


                @foreach (var items in Model.engage_Interview_s)
                {

                    <tr>
                        <td class="TD_STYLE1">
                            <input type="hidden" asp-for="@item.Res_id" class="INPUT_STYLE2" />
                            面试次数
                        </td>
                        <td class="TD_STYLE2">

                            <input type="text" asp-for="@items.Interview_amount" class="INPUT_STYLE2" readonly="readonly" />
                        </td>
                        <td class="TD_STYLE1">
                            形象评价
                        </td>
                        <td class="TD_STYLE2">

                            <input type="text" asp-for="@items.Image_degree" class="INPUT_STYLE2" readonly="readonly" />

                        </td>
                        <td class="TD_STYLE1">
                            口才评价
                        </td>
                        <td class="TD_STYLE2">

                            <input type="text" asp-for="@items.Native_language_degree" class="INPUT_STYLE2" readonly="readonly" />

                        </td>
                        <td class="TD_STYLE1">
                            外语口语能力
                        </td>
                        <td class="TD_STYLE1">

                            <input type="text" asp-for="@items.Foreign_language_degree" class="INPUT_STYLE2" readonly="readonly" />

                        </td>
                    </tr>
                    <tr>
                        <td class="TD_STYLE1">
                            应变能力
                        </td>
                        <td class="TD_STYLE2">

                            <input type="text" asp-for="@items.Response_speed_degree" class="INPUT_STYLE2" readonly="readonly" />

                        </td>
                        <td class="TD_STYLE1">
                            EQ
                        </td>
                        <td class="TD_STYLE2">
                            <input type="text" asp-for="@items.EQ_degree" class="INPUT_STYLE2" readonly="readonly" />

                        </td>
                        <td class="TD_STYLE1">
                            IQ
                        </td>
                        <td class="TD_STYLE2">
                            <input type="text" asp-for="@items.IQ_degree" class="INPUT_STYLE2" readonly="readonly" />

                        </td>
                        <td class="TD_STYLE1">
                            综合素质
                        </td>
                        <td class="TD_STYLE1">
                            <input type="text" asp-for="@items.Multi_quality_degree" class="INPUT_STYLE2" readonly="readonly" />

                        </td>
                    </tr>
                    <tr>
                        <td class="TD_STYLE1">
                            面试人
                        </td>
                        <td class="TD_STYLE2">
                            <input type="text" asp-for="@items.Register" class="INPUT_STYLE2" />
                        </td>
                        <td class="TD_STYLE1">
                            面试时间
                        </td>
                        <td class="TD_STYLE2">
                            <input type="text" asp-for="@items.Registe_time" class="INPUT_STYLE2" />

                        </td>
                        <td class="TD_STYLE1">
                            筛选人
                        </td>
                        <td class="TD_STYLE2">
                            <input type="text" asp-for="@items.Checker" class="INPUT_STYLE2" />

                        </td>
                        <td class="TD_STYLE1">
                            筛选时间
                        </td>

                        <td class="TD_STYLE2">
                            <input type="text" asp-for="@items.Check_time"
                                   id="nowTime" readonly="readonly"
                                   class="INPUT_STYLE2">
                        </td>
                    </tr>
                    <tr>
                        <td class="TD_STYLE1">
                            录用申请审核意见
                        </td>
                        <td class="TD_STYLE2" colspan="7">
                            <textarea asp-for="@item.Pass_checkComment" class="TEXTAREA_STYLE1"
                                      rows="4" readonly="readonly" id="check_comment"></textarea>
                        </td>
                    </tr>
                    }
                }
            </table>
        </form>
    </div>
</body>
</html>
